body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.dtHorizontalVerticalExampleWrapper {
    max-width: 600px;
    margin: 0 auto;
}

#dtHorizontalVerticalExample th, td {
    white-space: nowrap;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
}

.fullscreen-modal .modal-dialog {
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.custom-dialog {
    max-width: 90% !important; /* Ajusta el valor según tus preferencias */
    height: 90vh !important; /* Ajusta la altura según tus preferencias */
    top: 1% !important;
    left: 2% !important;
}

.fixed-checkbox {
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
}

