body {
}

.TMSTitulo {
    color: #211900;
    font-size: large;
    font-weight: normal;
    font-family: Century;
    text-transform: capitalize;
}

.TMSBotonCerrarModal {
    height: 40px;
    color: black;
    font-size: 40px;
    box-shadow: 0 0 5px #eee;
}

.TMSTituloModal {
   
    color: black;
}

.TMSHeaderModal {
    height: 80px;
    background-color: #F7F6F8;
    border-radius: .5px;
}

.TMSlabelComboValores {
    color: blue;
    font-size: x-small;
    font-weight: bold;
    font-family: Verdana;
    text-transform: capitalize;
    text-align:center;
}
.TMSlabelTextFinal {
    color: #565656;
    font-size: 15px;
    font-weight: bold;
    font-family: Verdana;
    text-transform: capitalize;
    text-align: center;
}


.TMSComboValores {
    color: blue;
    font-size: x-small;
    font-weight: normal;
    font-family: Verdana;
    text-transform: capitalize;
    height: 35px;
}

.TMSTextBoxValores {
    color: #127C8C;
    font-size: 10px;
    font-weight: normal;
    font-family: Verdana;
    text-transform: capitalize;
    height: 6px;
}

.TMSlabelText {
    color: #127C8C;
    font-size: x-small;
    font-weight: bold;
    font-family: Verdana;
    text-transform: capitalize;
}

.TMSContenedorText {
    vertical-align: bottom;
    height: 30px;
}

.TMSTituloTabla {
    color: #127C8C;
    font-size: small;
    vertical-align: central;
    text-align: center;

}

.TMSBodyTabla {
    color: #127C8C;
    font-size: small;
    vertical-align: central;
    text-align: center;

}

.TMSModal {
    width: 100%;
    height: 100%;
    border-radius: 25px;

}

.TMSButtom {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    background-color: #127C8C;
    color: white;
}




TMSDivImage {
    /*background-image: url("~/imagenes/ruedast2.png");*/
    /*   position: absolute;*/
    /* height: 60%;
    width: 80%;*/
    /*  background-image: url("~/imagenes/ruedast2.png");*/
    /* background-image: src("~/imagenes/ruedast2.png");*/

   
}

TMSDivButtomSelected {
    left: 180px;
    top: 90px;
    position: absolute;
}

.btn-grad {
    padding: 5px 6px;
    text-align: center;
    text-transform: uppercase;
    text-emphasis-color: white;
    box-shadow: 0 0 10px #eee;
    border-radius: 15px;
    display: block;
    color: white
}


